@page
@model Jardine.Exchange.Web.Pages.Client.Invoices.AddNewInvoiceModel
@{
}

<style>
    #drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 480px;
        margin: 50px auto;
        padding: 20px;
    }

    #drop-area.highlight {
        border-color: purple;
    }

    #DesktopFileUpload {
        display: none;
    }
</style>

<div id="portal-page">
    <h1>Submit an invoice</h1>
    <div id="form-wrapper" class="animateable-block">
        <form method="post" enctype="multipart/form-data" class="bubble-container">
            <div class="form-inner">
                <div id="form-stage-1" class="form-stage">
                    <p>Please fill in the invoice information and upload a copy using the panel at the bottom.</p>
                    <div class="form-responses" asp-validation-summary="All"></div>
                    <div class="fields">
                        <div class="field-group">
                            <p>
                                <label asp-for="SelectedClientCustomerId">
                                    <span class="visibly-hidden">Customer *</span>
                                    <select id="desktop-customer" asp-for="SelectedClientCustomerId" asp-items="Model.ExistingCustomers" class="form-control">
                                        <option value="">Select a Customer</option>
                                    </select>
                                    <span class="label" title="Customer *"></span>
                                    <input type="hidden" asp-for="ClientCustomerId" />
                                </label>
                                <span class="error-message" data-error-empty="Customer cannot be blank" data-invalid="Please select a valid customer." asp-validation-for="ClientCustomerId"></span>
                            </p>
                            <p>
                                <label asp-for="InvoiceNumber">
                                    <span class="visibly-hidden">Invoice number *</span>
                                    <input asp-for="InvoiceNumber" placeholder="" aria-label="Invoice Number" class="form-control" required="true" />
                                    <span class="label" title="Invoice number * Exactly as it is on the invoice"></span>
                                </label>
                                <span class="error-message" data-error-empty="Invoice number cannot be blank" data-invalid="Please enter a valid invoice number." asp-validation-for="InvoiceNumber"></span>
                            </p>
                            <p>
                                <label asp-for="IssueDate">
                                    <span class="visibly-hidden">Issue date *</span>
                                    <input asp-for="IssueDate" class="form-control" aria-label="Issue Date" required="true" />
                                    <span class="label" title="Issue date *"></span>
                                </label>
                                <span class="error-message" data-error-empty="Issue date cannot be blank" data-invalid="Please enter a valid issue date." asp-validation-for="IssueDate"></span>
                            </p>
                            <p>
                                <label asp-for="InvoiceAmount">
                                    <span class="visibly-hidden">Amount *</span>
                                    <input asp-for="InvoiceAmount" placeholder="" aria-label="Gross Amount" class="form-control" required="true" />
                                    <span class="label" title="Amount * Gross Amount (inc any VAT)"></span>
                                </label>
                                <span class="error-message" data-error-empty="Amount cannot be blank" data-invalid="Please enter a valid amount." asp-validation-for="InvoiceAmount"></span>
                            </p>
                            <p>
                                <label asp-for="PaymentTermsInDays">
                                    <span class="visibly-hidden">Payment terms *</span>
                                    <input asp-for="PaymentTermsInDays" placeholder="" aria-label="Payment Terms" class="form-control" required="true" />
                                    <span class="label" title="Payment terms * In Days (e.g. 30)"></span>
                                </label>
                                <span class="error-message" data-error-empty="Payment terms cannot be blank" data-invalid="Please enter valid payment terms." asp-validation-for="PaymentTermsInDays"></span>
                            </p>

                            <p id="drop-area">
                                <label class="standard-text">
                                    <input asp-for="DesktopFileUpload" type="file" />
                                    <label class="button" for="DesktopFileUpload">Click or Drag Invoice here <progress id="progress-bar" max=100 value=0></progress></label>
                                </label>

                            </p>

                            <div class="mt-4">
                                <div class="login-btn-wrapper center">

                                    <button type="submit" id="upload-desktop-btn" name="upload-desktop-btn" class="btn acruna-btn d-none">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section scripts{
<partial name="_ValidationScriptsPartial" />


<script type="text/javascript">
        $(document).ready(function () {
            $('#DesktopFileUpload').change(function () {
               // $('form p').text(this.files.length + " file selected");
               // $('#upload-desktop-btn').click();
            });
        });

        $("#desktop-customer").change(function () {
            $("#ClientCustomerId").val($("#desktop-customer").val());
        });


        // ************************ Drag and drop ***************** //
    let dropArea = document.getElementById("drop-area");
    let fileInput = document.getElementById('DesktopFileUpload');
    // Prevent default drag behaviors
    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, preventDefaults, false);
      document.body.addEventListener(eventName, preventDefaults, false);
    })

    // Highlight drop area when item is dragged over it
    ;['dragenter', 'dragover'].forEach(eventName => {
      dropArea.addEventListener(eventName, highlight, false);
    })

    ;['dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, unhighlight, false)
    })

    // Handle dropped files
    dropArea.addEventListener('drop', handleDrop, false);

    function preventDefaults (e) {
      e.preventDefault();
      e.stopPropagation();
    }

    function highlight(e) {
      dropArea.classList.add('highlight');
    }

    function unhighlight(e) {
      dropArea.classList.remove('active');
    }

    function handleDrop(e) {
      var dt = e.dataTransfer;
      var files = dt.files;

      handleFiles(files);
    }

    let uploadProgress = [];
    let progressBar = document.getElementById('progress-bar');

    function initializeProgress(numFiles) {
      progressBar.value = 0;
      uploadProgress = [];

      for(let i = numFiles; i > 0; i--) {
        uploadProgress.push(0);
      }
    }

    function updateProgress(fileNumber, percent) {
      uploadProgress[fileNumber] = percent;
      let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length;
      progressBar.value = total;
    }

    function handleFiles(files) {
      //files = [...files];
      initializeProgress(1);
      //files.forEach(uploadFile);

        fileInput.files = files;
         updateProgress(0, 100);
    }



</script>
}