@page
@model Jardine.Exchange.Web.Pages.Client.Invoices.AddNewInvoiceModel
@{
}
<style>
    #drop-area.highlight {
        border-color: purple !important;
    }

    #DesktopFileUpload {
        display: none;
    }
</style>
<div id="portal-page">
    <div id="page-header-block">
        <h1>Submit an invoice</h1>
        <p>Please submit your client invoice details below.</p>
    </div>
    <div id="form-wrapper" class="animateable-block">
        <form method="post" enctype="multipart/form-data" class="bubble-container">
            <div class="form-inner">
                <div id="form-stage-1" class="form-stage">
                    
					<p>
						Please fill in the invoice information and upload a copy of the invoice using the file upload field below.<br />
						<strong>Note: Invoices must not be older than 21 days from date of issue.</strong>
					</p>
					<div class="form-responses" asp-validation-summary="All"></div>
					<div class="fields">
						<div class="field-group">
							<p>
								<label asp-for="SelectedClientCustomerId">
									<span class="visibly-hidden">Customer *</span>
									<select id="desktop-customer" asp-for="SelectedClientCustomerId" asp-items="Model.ExistingCustomers" class="form-control">
										<option value="">Select a Customer</option>
									</select>
									<span class="label" title="Customer *"></span>
									<input type="hidden" asp-for="ClientCustomerId" />
								</label>
								<span class="error-message" data-error-empty="Customer cannot be blank" data-invalid="Please select a valid customer." asp-validation-for="ClientCustomerId"></span>
							</p>
							<p>
								<label asp-for="InvoiceNumber">
									<span class="visibly-hidden">Invoice number (as stated on the invoice)</span>
									<input asp-for="InvoiceNumber" placeholder="" aria-label="Invoice Number" class="form-control" required="true" />
									<span class="label" title="Invoice number (as stated on the invoice)"></span>
								</label>
								<span class="error-message" data-error-empty="Invoice number cannot be blank" data-invalid="Please enter a valid invoice number." asp-validation-for="InvoiceNumber"></span>
							</p>
							<p>
								<label asp-for="IssueDate">
									<span class="visibly-hidden">Issue date *</span>
									<input asp-for="IssueDate" class="form-control" aria-label="Issue Date" required="true" />
									<span class="label" title="Issue date *"></span>
								</label>
								<span class="error-message" data-error-empty="Issue date cannot be blank" data-invalid="Please enter a valid issue date." asp-validation-for="IssueDate"></span>
							</p>
							<p>
								<label asp-for="InvoiceAmount">
									<span class="visibly-hidden">Gross Amount (inc any VAT)</span>
									<input asp-for="InvoiceAmount" placeholder="" aria-label="Gross Amount" class="form-control" required="true" />
									<span class="label" title="Gross Amount (inc any VAT)"></span>
								</label>
								<span class="error-message" data-error-empty="Amount cannot be blank" data-invalid="Please enter a valid amount." asp-validation-for="InvoiceAmount"></span>
							</p>
							<p>
								<label asp-for="PaymentTermsInDays">
									<span class="visibly-hidden">Payment terms *</span>
									<input asp-for="PaymentTermsInDays" placeholder="" aria-label="Payment Terms" class="form-control" required="true" />
									<span class="label" title="Payment terms (in days e.g. 30)"></span>
								</label>
							</p>

							<p id="drop-area">
								<label class="standard-text">
									<input type="file" id="DesktopFileUpload" name="DesktopFileUpload">
									<label class="button" for="DesktopFileUpload" style="text-align: center;">
										<span class="upload-label">Click or Drag Invoice here</span>
									</label>
									<progress id="progress-bar" max="100" value="0" style="display: block;margin: 0 auto;"></progress>
								</label>
							</p>

							<div class="mt-4">
								<div class="login-btn-wrapper center">
									<button type="submit" id="upload-desktop-btn" name="upload-desktop-btn" class="btn acruna-btn d-none">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            progressBar.value = 0;
        });

        $('#DesktopFileUpload').change(function () {
            $('#drop-area .button').text(this.files.length + " File Selected");
            progressBar.value = 100;
        });

        $("#desktop-customer").change(function () {
            $("#ClientCustomerId").val($("#desktop-customer").val());
        });

        // ************************ Drag and drop ***************** //
        let dropArea = document.getElementById("drop-area");
        let fileInput = document.getElementById('DesktopFileUpload');
        let progressBar = document.getElementById('progress-bar');

        // Prevent default drag behaviors
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false);
            document.body.addEventListener(eventName, preventDefaults, false);
        })

        // Highlight drop area when item is dragged over it
        ;['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false);
        })

        ;['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false)
        })

        // Handle dropped files
        dropArea.addEventListener('drop', handleDrop, false);

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        function highlight(e) {
            dropArea.classList.add('highlight');
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight');
        }

        function handleDrop(e) {
            var dt = e.dataTransfer;
            var files = dt.files;
            fileInput.files = files;
            $('#drop-area .upload-label').text(files.length + " File Selected");
            progressBar.value = 100;
        }
    </script>
}