@model Jardine.Exchange.Data.Models.Email.EmailModelBase



<!--Blue Header-->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper darkBody" width="100%">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper" role="presentation" style="width:600px;table-layout:fixed; mso-line-height-rule: exactly; " width="600">
					<tbody>
						<tr>
							<td align="left" class="padTen" style="text-align:left; padding-left: 25px; padding-right: 25px; padding-top: 25px;">
								<table class="wrapper" border="0" cellpadding="0" cellspacing="0" width="550" style="width:550px;table-layout:fixed; mso-line-height-rule: exactly;" role="presentation">
									<tbody>
										<tr>
											<td bgcolor="#0664e8" align="left" class="darkText MonFont" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif !important; mso-line-height-rule: exactly; line-height: 20px; font-size: 16px; font-weight: 600 !important;  color: #FFFFFF; font-weight: normal; vertical-align: top; text-align: left; letter-spacing: 1px; ; -webkit-border-top-left-radius: 25px; -webkit-border-top-right-radius: 25px; -moz-border-radius-topleft: 25px; -moz-border-radius-topright: 25px; border-top-left-radius: 25px; border-top-right-radius: 25px; padding-top:60px; padding-bottom: 30px; padding-right:30px; padding-left: 30px; background: -moz-linear-gradient(-45deg, rgba(6,179,232,1) 0%, rgba(6,78,232,1) 100%);background: -webkit-linear-gradient(-45deg, rgba(6,179,232,1) 0%, rgba(6,78,232,1) 100%); background-color: linear-gradient(-45deg, rgba(6,179,232,1) 0%, rgba(6,78,232,1) 100%); font-weight: normal; overflow: hidden;">Hi @Model.FirstName,<div id="hs_cos_wrapper_module_16355256452844" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget" data-hs-cos-type="module">Let's get you started</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!--Blue Header-->

<!--White Section-->
<table class="wrapper darkBody" style="border-width: 0px; border-style: none;" width="100%" align="center" role="presentation" cellspacing="0">
	<tbody>
		<tr>
			<td style="padding: 0px;">
				<table class="wrapper" style="width: 600px; table-layout: fixed; border-width: 0px; border-style: none;" width="600" align="center" role="presentation" cellspacing="0">
					<tbody>
						<tr>
							<td class="padTen" style="text-align: left; padding: 0px 25px;" align="left">
								<table class="wrapper darkbgColor" style="width: 550px; table-layout: fixed; border-width: 0px; border-style: none;" width="550" bgcolor="#ffffff" role="presentation" cellspacing="0">
									<tbody>
										<tr>
											<td class="darkText MonFont" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif !important; font-weight: 500; mso-line-height-rule: exactly; line-height: 34px; font-size: 36px; color: #000000; vertical-align: top; text-align: center; padding: 60px 30px 30px 30px;" align="left">Welcome to<br>Acruna</td>
										</tr>
										<tr>
											<td class="darkText MonFont" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif !important; line-height: 20px; font-size: 16px; color: #000000; font-weight: normal; vertical-align: top; text-align: left; padding: 0px 30px 30px;" align="left">Thank you for starting your acruna.com account setup. Please click the link below to register your password for your Secure Transaction Account.</td>
										</tr>
										<!-- -->
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!--White Section-->
<!--Button Section-->
<table class="wrapper darkBody" style="border-width: 0px; border-style: none; height: 70px; width: 100%;" width="100%" align="center" cellspacing="0">
	<tbody>
		<tr style="height: 70px;">
			<td style="padding: 0px; height: 70px;">
				<table class="wrapper" style="width: 600px; table-layout: fixed; border-width: 0px; border-style: none;" width="600" align="center" role="presentation" cellspacing="0">
					<tbody>
						<tr>
							<td class="padTen" style="text-align: left; padding: 0px 25px;" align="left">
								<table class="wrapper darkbgColor" style="width: 550px; table-layout: fixed; border-width: 0px; border-style: none;" width="550" bgcolor="#ffffff" cellspacing="0">
									<tbody>
										<tr>
											<td class="darkText" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif !important; line-height: 20px; font-size: 16px; color: #ffffff; font-weight: normal; vertical-align: top; text-align: left; padding: 0px 30px 25px;" align="left">
												<table class="wrapper" style="border-width: 0px; border-style: none;" width="285" align="center" cellspacing="0">
													<tbody>
														<tr>
															<td class="button padTen MonFont" style="color: #ffffff; background-color: #0664e8; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 15px;" align="center" bgcolor="#0664e8">
																<a class="whiteLink MonFont" href="@Model.ButtonUrl" style="font-size: 12px; line-height: 16px; color: #ffffff; text-decoration: none; display: inline-block; font-weight: 600;" target="_blank" rel="noopener" data-hs-link-id="0">CREATE MY SECURE ACCOUNT NOW</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!--  -->
<!--Button Section-->
<!--White Section-->
<table class="wrapper darkBody" style="border-width: 0px; border-style: none;" width="100%" align="center" role="presentation" cellspacing="0">
	<tbody>
		<tr>
			<td style="padding: 0px;">
				<table class="wrapper" style="width: 600px; table-layout: fixed; border-width: 0px; border-style: none;" width="600" align="center" role="presentation" cellspacing="0">
					<tbody>
						<tr>
							<td class="padTen" style="text-align: left; padding: 0px 25px;" align="left">
								<table class="wrapper darkbgColor" style="width: 550px; table-layout: fixed; border-width: 0px; border-style: none;" width="550" bgcolor="#ffffff" role="presentation" cellspacing="0">
									<tbody>
										<tr>
											<td class="darkText MonFont" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif !important; line-height: 20px; font-size: 16px; color: #000000; font-weight: normal; vertical-align: top; text-align: left; padding: 0px 30px 30px;" align="left">
												<strong>Important:</strong> Once inside your secure account, please ensure all the relevant information required is complete, so your details can be successfully reviewed by our invoice payments underwriting team. After completion, we need a little time to run the standard security checks, so please bear with us.
											</td>
										</tr>
										<!-- -->
										<tr>
											<td class="darkText MonFont" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif !important; line-height: 20px; font-size: 16px; color: #000000; font-weight: normal; vertical-align: top; text-align: left; padding: 0px 30px 30px;" align="left">Inside your account, you can start uploading invoices for review. We are able to process your customer invoice uploads and make payments to you, only after your account application is fully complete. So jump in &amp; get started!<br><br>The signup process will only take you 2 minutes...</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!--White Section-->
<!--Button Section-->
<table class="wrapper darkBody" style="border-width: 0px; border-style: none;" width="100%" align="center" role="presentation" cellspacing="0">
	<tbody>
		<tr>
			<td style="padding: 0px;">
				<table class="wrapper" style="width: 600px; table-layout: fixed; border-width: 0px; border-style: none;" width="600" align="center" role="presentation" cellspacing="0">
					<tbody>
						<tr>
							<td class="padTen" style="text-align: left; padding: 0px 25px;" align="left">
								<table class="wrapper darkbgColor" style="width: 550px; table-layout: fixed; border-width: 0px; border-style: none;" width="550" bgcolor="#ffffff" role="presentation" cellspacing="0">
									<tbody>
										<tr>
											<td class="darkText" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif !important; line-height: 20px; font-size: 16px; color: #ffffff; font-weight: normal; vertical-align: top; text-align: left; padding: 0px 30px 60px;" align="left">
												<table class="wrapper" style="border-width: 0px; border-style: none;" width="285" align="center" role="presentation" cellspacing="0">
													<tbody>
														<tr>
															<td class="button padTen" style="background-color: #0664e8; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; color: #ffffff; padding: 15px;" align="center" bgcolor="#0664e8">
																<a class="whiteLink MonFont" href="@Model.ButtonUrl" style="font-size: 12px; line-height: 16px; color: #ffffff; text-decoration: none; display: inline-block; font-weight: 600;" target="_blank" rel="noopener" data-hs-link-id="1">COMPLETE MY SECURE ACCOUNT NOW</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!--Button Section-->
<!--<div>
	<h1>Confirm Email</h1>
	<div>ButtonUrl:@Model.ButtonUrl</div>
	<div>ClientName:@Model.ClientName</div>
	<div>CustomerName:@Model.CustomerName</div>
	<div>EmailType:@Model.EmailType</div>
	<div>FirstName:@Model.FirstName</div>
	<div>FromAddress:@Model.FromAddress</div>
	<div>InvoiceAmount:@Model.InvoiceAmount</div>
	<div>InvoiceNumber:@Model.InvoiceNumber</div>
	<div>Subject:@Model.Subject</div>
	<div>ToAddress:@Model.ToAddress</div>
</div>-->