@model Jardine.Exchange.Data.Models.Email.EmailModelBase

<div>
    <h1>TreasuryInvoiceInitialPayment Email</h1>
    <div>ButtonUrl:@Model.ButtonUrl</div>
    <div>ClientName:@Model.ClientName</div>
    <div>CustomerName:@Model.CustomerName</div>
    <div>EmailType:@Model.EmailType</div>
    <div>FirstName:@Model.FirstName</div>
    <div>FromAddress:@Model.FromAddress</div>
    <div>InvoiceAmount:@Model.InvoiceAmount</div>
    <div>InvoiceNumber:@Model.InvoiceNumber</div>
    <div>Subject:@Model.Subject</div>
    <div>ToAddress:@Model.ToAddress</div>
</div>